body{
    font-family: 'Noto Sans', sans-serif;
    color: #363945;
    font-size: 14px;
    line-height: 1.42857143;
}

.label-counter {
    text-align: center;
    background-color: #f5f5f5;
    color: #777;
    font-size: 19px;
    text-transform: uppercase;
    font-family: roboto condensed,sans-serif;
}

#page-top{
    padding: 20px;
}