body {
    font-family: 'Noto Sans', sans-serif !important;
    background-color: white;
    font-size: 14px;
    line-height: 1.42857143;
}

.label-counter {
    text-align: center;
    background-color: #f5f5f5;
    color: #777;
    font-size: 19px;
    text-transform: uppercase;
    font-family: roboto condensed, sans-serif;
}

#page-top {
    padding: 20px;
}

.maincounter-wrap {
    margin: auto;
    margin-top: auto;
    text-align: center;
    padding-top: 20px;
}

.maincounter-number {
    font-weight: 700;
    color: #696969;
    font-size: 54px;
}

a {
    color: #699a21;
    text-decoration: underline;
}

a:hover {
    color: #86c32a;
    text-decoration: underline;
}

.number-table-main {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.content-inner {
    min-height: 500px;
    font-size: 15px;
    color: #222;
}

.number-table {
    font-size: 20px;
    font-weight: bold;
}

.title-case {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 100
}

.maincounter-wrap h1{
    font-family: roboto condensed, sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #555;
    margin: 0;
}


